.Comment {
    min-height: 5 * $unit;
    width: 10 * $unit;
    margin: $unit;
    padding: $unit;
    border-radius: .3em;
    box-shadow: .1em .1em .5em 0 transparentize($dark-color, .75);
    background: #fff;
    transition: transform $default-transition-duration $default-transition-easing;

    &:hover {
        transform: scale(1.05);
    }

    &:last-child {
        margin-bottom: 2 * $unit;
    }
}
