.CommentForm {
    @extend .Grid;
    flex-flow: row wrap;

    position: fixed;
    left: 0; bottom: 0;
    height: 2 * $unit;
    width: 100%;

    input {
        height: 100%;
        padding: 0 $unit;
        border: none;

        &:focus {
            outline: none;
        }
    }

    [type="text"]:first-child {
        border-right: 1px solid $dark-color;
    }

    [type="submit"] {
        flex-grow: .33;
        background-color: #00cc60;
        color: white;
        cursor: pointer;
        transition: background-color $default-transition-duration $default-transition-easing;

        &:hover {
            background-color: darken(#00cc60, 5%);
        }
    }
}
