.Header {
    height: 5 * $unit;
    line-height: 5 * $unit;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
    box-shadow: 0 .3em .3em 0 $dark-color;
}

.Header__Title {
    @include x-bold();
    letter-spacing: .3em;
    text-transform: uppercase;
}
