/**
 *  Margins
 */
@mixin mt($multiplier: 1) {
    margin-top: $multiplier * $unit;
}

@mixin ml($multiplier: 1) {
    margin-left: $multiplier * $unit;
}

@mixin mb($multiplier: 1) {
    margin-bottom: $multiplier * $unit;
}

@mixin mr($multiplier: 1) {
    margin-right: $multiplier * $unit;
}


/**
 *  Paddings
 */
@mixin pt($multiplier: 1) {
    padding-top: $multiplier * $unit;
}

@mixin pl($multiplier: 1) {
    padding-left: $multiplier * $unit;
}

@mixin pb($multiplier: 1) {
    padding-bottom: $multiplier * $unit;
}

@mixin pr($multiplier: 1) {
    padding-right: $multiplier * $unit;
}


/**
 *  Borders
 */
@mixin bt($width: 1px, $color: #fff) {
    border-top: $width solid $color;
}

@mixin bl($width: 1px, $color: #fff) {
    border-left: $width solid $color;
}

@mixin bb($width: 1px, $color: #fff) {
    border-bottom: $width solid $color;
}

@mixin br($width: 1px, $color: #fff) {
    border-right: $width solid $color;
}


/**
 *  Utils
 */
%no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

%no-outline {
    &:focus {
        outline: none;
    }
}
