$sans: Lato, Roboto, 'Helvetica Neue', sans-serif;
$serif: Candara, serif;

@mixin smallest()   { font-size: $base*.625; }
@mixin smaller()    { font-size: $base*.75;  }
@mixin small()      { font-size: $base*.875; }
@mixin base()       { font-size: $base;      }
@mixin big()        { font-size: $base*1.25; }
@mixin bigger()     { font-size: $base*1.75; }
@mixin biggest()    { font-size: $base*2;    }

@mixin thin()       { font-weight: 100; }
@mixin x-light()    { font-weight: 200; }
@mixin light()      { font-weight: 300; }
@mixin regular()    { font-weight: 400; }
@mixin semibold()   { font-weight: 600; }
@mixin bold()       { font-weight: 700; }
@mixin x-bold()     { font-weight: 900; }

@mixin uppercase()   { text-transform: uppercase; }
@mixin text-center() { text-align: center; }

html        { font-family: $sans; font-size: 62.5%; } /* 1em = 10px */
body        { font-family: $sans; font-size: 1.6*$base; } /* Default font size : 16 px */
h1, .h1     { @include biggest(); }
h2, .h2     { @include bigger(); }
a           { text-decoration: none; }

input,
textarea,
button      { font-family: $sans; }
